In [1]:
#imports

import pandas as pd
import numpy as np
import os

from acquire import zillow_pipeline

In [2]:
df = zillow_pipeline()

KeyError: 'bedrooms'

In [ ]:
df.head()

,parcelid,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,fips
0,14297519,4.0,3.5,3100.0,1023282.0,1998.0,6059.0
1,17052889,2.0,1.0,1465.0,464000.0,1967.0,6111.0
2,14186244,3.0,2.0,1243.0,564778.0,1962.0,6059.0
3,12177905,4.0,3.0,2376.0,145143.0,1970.0,6037.0
4,12095076,4.0,3.0,2962.0,773303.0,1950.0,6037.0

In [ ]:
df.shape

(52441, 7)